<!-- home -->
<div class="home-content">
  <h3>Welcome {{ title }}</h3>
  <div class="details" app-show-message-when-hovered details="Powered by AngularJS.">{{ details }}</div>

  <button type="button" class="btn" ng-click="logout()">Logout</button>
</div>
<!-- home -->