<!-- login form -->
<form class="form-horizontal login-form" ng-submit="login()">
  <h3>Login</h3>

  <div class="control-group">
    <label class="control-label" for="inputUsername">Username</label>
    <div class="controls">
      <input type="text" id="inputUsername" name="form[username]" ng-model="credentials.username" required placeholder="Hint: user">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" name="form[password]" ng-model="credentials.password" required placeholder="Hint: pass">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Login</button>
    </div>
  </div>
</form>
<!-- /login form -->