.login-form{
  border:1px solid #ccc;
  width:400px;
  margin:200px auto;
  padding:20px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

.home-content{
  text-align:center;
}

.home-content .details{
  cursor:pointer;
  width:300px;
  height:25px;
  line-height:25px;
  padding:10px;
  border:1px solid #ccc;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  margin:20px auto;
}